*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header{
    background-color: brown;
    height: 80px;
    max-width: 100%;
    margin: auto;
}

.cabacalho nav ul li{
    list-style: none;
    display: inline;
    float: right;
    margin-top: 20px;
    padding: 10px;
}

.cabacalho nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}

.cabacalho a:hover {
    background-color: skyblue;
    color: black;
    font-style: italic;
}

.info-boutique{
    background-color: brown;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.info-boutique article{
    margin: 10px;
}

.info-boutique article h1{
    padding-top: 15px;
    color: white;
    text-align: justify;
}
.fotos-boutique{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.fotos-boutique .foto{
    width: 70%;
    margin: 0;
}

.fotos-boutique p{
    background-color: brown;
    color: white;
    width: 30%;
    border-radius: 2px;
    text-align: center;
    font-style: italic;

}

.rodape{
    background-color: brown;
    max-width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.rodape article{
    max-width: 50%;
    margin: auto;
}

.rodape li {
    margin: 10px;
    list-style: none;
    text-align: center;
}

.img_fundo{
    background-image: url(./img/home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_fundo h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 15px;
}

.img_fundo span{
    color: chocolate;
}

.img_fundo h3{
    color: white;
    margin-bottom: 15px;
}

.button {
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    border: 1px solid chocolate;
}

.button:hover{
    background-color: chocolate;
}